/*body{
    margin: 0;
    padding: 0;

    background-image: url(/asets/images/fondo.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-repeat: no-repeat;
}
#principal{
    background-image: url(/asets/images/fondo.jpg);
}

 #fondo{
    width: 100% ;
    height: 100% ;
    margin: 0%;
    padding: 0%;
    position: absolute;
    background-image: url(/asets/images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} -->


.active{
    color: red !important;

}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;

}
*/


#fondo h1{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
}
.main{
    background-image: url(/asets/images/fondoh.jpg);
    width: 100%;
    height: 110%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0px;
    font-family: cursive;
}

.logo{
    background-image: url(/asets/images/C-B\ 1.png);
    width: 20%;
    height: 20%;
    background-repeat: no-repeat;
    background-size: contain;

}
.colorB{
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
}

.imgcenter{
    display: flex;
    justify-content: center;
}